
body, html {
  padding: 0;
  margin: 0;
}

.grid {
  display: grid;
  height: 100vh;
  grid-template-columns: auto 3fr;
  transition: grid-template-colums 0.5;
  /* grid-template-rows: 100px calc(100vh - 100px); */
  /* grid-gap: 1em; */
}

.sidebar-information {
  /* grid-row: 1; */
  /* grid-column: 1 / 4; */
  padding: 1em;
}

.output-container {
  /* grid-row: 2; */
  /* grid-column: 1 / 2; */
  overflow-y: auto;
  padding: 1em;
}

.sidebar-information {
  box-shadow: 2px 2px 4px 0 rgba(0, 0, 0, 0.5);
  font-family: 'Helvetica';
  font-size: 14px;
  height: 100vh;
  overflow: auto;
  width: 300px;
  transition: width 0.5s;
}
.sidebar-information h2 {
  text-transform: uppercase;
  font-size: 18px;

}

.component-container {
  /* overflow-x: scroll; */
  color: black;
}