
body, html {
  padding: 0;
  margin: 0;
}

.grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  /* grid-template-rows: 100px calc(100vh - 100px); */
  /* grid-gap: 1em; */
}

.sidebar-information {
  /* grid-row: 1; */
  /* grid-column: 1 / 4; */
  padding: 1em;
}

.output-container {
  /* grid-row: 2; */
  /* grid-column: 1 / 2; */
  overflow-y: auto;
  padding: 1em;
}

.sidebar-information {
  background: #222;
  color: #fff;
  display: grid;
  grid-template-rows: 1fr 1fr 1fr;
}

.component-container {
  /* overflow-x: scroll; */
  color: black;
}