body,
html {
  padding: 0;
  margin: 0;
}

.grid {
  display: grid;
  height: 100vh;
  grid-template-columns: auto 3fr;
  transition: grid-template-colums 0.5;
  /* grid-template-rows: 100px calc(100vh - 100px); */
  /* grid-gap: 1em; */
}

.sidebar-information {
  /* grid-row: 1; */
  /* grid-column: 1 / 4; */
  /* padding: 1em; */
}

.output-container {
  /* grid-row: 2; */
  /* grid-column: 1 / 2; */
  overflow-y: auto;
  word-wrap: break-word;
  padding: 1em;
}

.sidebar-information {
  box-shadow: 2px 2px 4px 0 rgba(0, 0, 0, 0.5);
  font-family: 'Helvetica';
  font-size: 14px;
  height: 100vh;
  overflow: auto;
  width: 300px;
  transition: width 0.5s;
}
.sidebar-information h2 {
  font-size: 18px;
}

.component-container {
  /* overflow-x: scroll; */
  color: black;
}

button.loader {
  display: block;
  padding: 1em 2em;
  background: #6122fb;
  color: white;
  margin: 1em auto;
}

.component-debug-view {
  position: relative;
  /* transition: background-color 0.3s ease-in; */
}

.author-view-button {
  position: absolute;
  top: 3px;
  right: 0;
  opacity: 0.38;
  background-color: #e7e3d0;
  background-image: url('https://idyll-lang.org/static/images/quill-icon.png');
  background-repeat: no-repeat;
  background-size: contain;
  width: 24px;
  height: 24px;
  margin-right: 10px;
  box-sizing: border-box;
  border-radius: 12px;
  cursor: pointer;
}

.author-view-button:focus {
  outline: none;
}

.component-debug-view:hover > .author-view-button {
  opacity: 0.87;
  transition: none;
}

.sidebar-tab-container {
  display: flex;
  flex-direction: row;
  height: 50px;
}


.sidebar-tab {
  padding: 1em 1em;
  /* transition: font-size 0.75s; */
  cursor: pointer;
}
.sidebar-tab:not(:first-of-type) {
  /* border-left: solid 1px #222; */
}


.sidebar-tab.selected {
  font-weight: bold;
  text-decoration: underline;
  font-size: 1.2em;
}
.sidebar-inner {
  padding: 1em;
}

[contenteditable]:focus {
  outline: none;
}