body,
html {
  padding: 0;
  margin: 0;
}

.grid {
  display: grid;
  height: 100vh;
  grid-template-columns: auto 3fr;
  transition: grid-template-colums 0.5;
  /* grid-template-rows: 100px calc(100vh - 100px); */
  /* grid-gap: 1em; */
}

.sidebar-information {
  /* grid-row: 1; */
  /* grid-column: 1 / 4; */
  /* padding: 1em; */
}

.output-container {
  /* grid-row: 2; */
  /* grid-column: 1 / 2; */
  overflow-y: auto;
  padding: 0;
}

.sidebar-information {
  box-shadow: 2px 2px 4px 0 rgba(0, 0, 0, 0.5);
  font-family: 'Helvetica';
  font-size: 14px;
  height: 100vh;
  overflow: auto;
  width: 300px;
  transition: width 0.5s;
}
.sidebar-information h2 {
  font-size: 18px;
}

.component-container {
  /* overflow-x: scroll; */
  color: black;
}

button.loader {
  display: block;
  padding: 1em 2em;
  background: #6122fb;
  color: white;
  margin: 1em auto;
  cursor: pointer;
  transition: trasform 0.25s;
  outline: none;
}
button.loader:hover {
  transform: scale(1.1);
}

.component-debug-view {
  position: relative;
  /* transition: background-color 0.3s ease-in; */
}

.author-view-container {
  position: absolute;
  top: 3px;
  right: 0;
  opacity: .33;
  display: flex;
  flex-direction: row;
}
.author-view-button {
  position: static !important;
  color: white;
  margin-left: 10px;
  border-radius: 12px;
  cursor: pointer;
  width: auto !important;
  background-image: none !important;
  background-color: #222 !important;
  color: white !important;
  opacity: 1 !important;;
}

.author-view-button:focus {
  outline: none;
}

.component-debug-view:hover > .author-view-container {
  opacity: 1;
}

.sidebar-tab-container {
  display: flex;
  flex-direction: row;
  height: 50px;
}

.sidebar-tab {
  padding: 1em 1em;
  /* transition: font-size 0.75s; */
  cursor: pointer;
}
.sidebar-tab:not(:first-of-type) {
  /* border-left: solid 1px #222; */
}

.sidebar-tab.selected {
  font-weight: bold;
  text-decoration: underline;
  font-size: 1.2em;
}
.sidebar-inner {
  padding: 1em;
}

[contenteditable]:focus {
  outline: none;
}

<<<<<<< HEAD
#publish-button {
  border: none;
  background-color: dimgrey;
  color: white;
  padding: 5px 20px;
  cursor: pointer;
  margin: 10px;
}

#publish-button:disabled {
  cursor: auto;
}

.meta-container {
  text-align: right;
  width: 80%;
}

.publish-button-container {
  width: 50%;
  margin: 0 auto;
  text-align: center;
}
=======
.prop-input {
  margin: 0;
  width: 100%;
}

.prop-type {
  padding-top: 5px;
  padding-bottom: 5px;
  width: 120px;
  text-align: center;
  cursor: pointer;
}

.idyll-root {
  padding: 0 !important;
}

.idyll-code-editor {
  max-width: 800px;
  margin: 0 auto;
}
>>>>>>> master
