body,
html {
  padding: 0;
  margin: 0;
  background: #fff;
}

.grid {
  display: grid;
  height: 100vh;
  grid-template-columns: auto 3fr;
  /* transition: grid-template-colums 0.5s; */
  /* grid-template-rows: 100px calc(100vh - 100px); */
  /* grid-gap: 1em; */
  transition: transform 0.5s linear, width 0.5s linear;
  width: 100vw;
  transform: translateX(0);
}

.grid.sidebar-collapse {
  transform: translateX(-300px);
  width: calc(100vw + 300px);
}

.output-container {
  /* grid-row: 2; */
  /* grid-column: 1 / 2; */
  overflow-y: auto;
  padding: 0;
}

.sidebar-information {
  box-shadow: 1px 1px 3px 0 rgba(0, 0, 0, 0.3);
  font-family: 'Helvetica';
  font-size: 14px;
  height: 100vh;
  overflow: auto;
  width: 300px;
  /* transition: all 0.5s; */
  /* transition: transform 0.5s; */
  overflow-x: hidden;
}
.sidebar-information > div {
  width: 300px;
}
.grid.sidebar-collapse .sidebar-information {
  /* transform: translateX(-300px); */
  /* width: 0; */
}

.sidebar-information h2 {
  font-size: 18px;
}

.component-container {
  /* overflow-x: scroll; */
  color: black;
}

button.loader, button.creator {
  display: block;
  padding: 1em 2em;
  border-radius: 75px;
  background: #6122fb;
  color: white;
  margin: 1em auto;
  cursor: pointer;
  transition: all 0.5s;
  outline: none;
  font-size: 48px;
  font-weight: bold;
  line-height: unset;
  border: none;
  height: auto;
}

button.loader:hover, button.creator:hover {
  transform: scale(1.1) rotate(0.5deg);
}

.component-debug-view {
  position: relative;
  /* transition: background-color 0.3s ease-in; */
}

.author-view-container {
  position: absolute;
  bottom: 10px;
  left: 10px;
  /* opacity: .33; */
  display: flex;
  flex-direction: column;
}
.idyll-text-container .author-view-container {
  bottom: 0;
  left: -50px;
}

button {
  line-height: unset;
  height:  auto;
  letter-spacing: unset;
  font-weight: 500;
}

.author-view-button {
  position: static !important;
  color: white;
  margin-left: 10px;
  border-radius: 12px;
  cursor: pointer;
  border: none;
  background-image: none !important;
  background: #333333 !important;
  border: none;
  color: #222;
  opacity: 1 !important;
  margin: 0 0 5px 0;
  width: 20px !important;
  height: 20px !important;
  padding: 0;
  margin: 0;
  line-height: initial;
}

.author-view-button svg {
  display: block;
  margin: 0 auto;
}

.author-view-button:hover {
  background: #ccc !important;
}
.author-view-button.selected {
  background: #666 !important;
  color: #fff !important;
}
.author-view-button:focus {
  outline: none;
}

.author-view-overlay {
  position: absolute;
  z-index: 100;
  background: #222222;
  color: #fff;
  padding: 0;
  width: 300px;
  border-radius: 10px;
  padding-bottom: 10px;
}

.author-view-overlay-header-button {
  padding: 0.5em;
  color: #999999;
  cursor: pointer;
  font-size: 12px;
  text-transform: uppercase;
}

.author-view-overlay-header-close-button {
  color:  #fff;
  font-weight: bold;
}
.author-view-overlay-header {
  padding: 0.5em 1em;
}

.author-view-overlay-header .selected {
  font-weight: bold;
  color: #fff;
}

.component-debug-view:hover > .author-view-container {
  opacity: 1;
}

.sidebar-tab-container {
  display: flex;
  flex-direction: row;
  height: 50px;
}

.sidebar-tab {
  padding: 1em 1em;
  /* transition: font-size 0.75s; */
  cursor: pointer;
}
.sidebar-tab:not(:first-of-type) {
  /* border-left: solid 1px #222; */
}

.sidebar-tab.selected {
  font-weight: bold;
  /* text-decoration: underline; */
  /* font-size: 1.2em; */
}
.sidebar-inner {
  padding: 1em;
}

[contenteditable]:focus {
  outline: none;
}

#publish-button {
  border: none;
  background-color: #333;
  color: white;
  font-weight: bold;
  padding: 10px 20px;
  height: auto;
  line-height: unset;
  cursor: pointer;
  margin: 10px 0;
}

#publish-button:disabled {
  cursor: auto;
}

.meta-container {
  /* text-align: right;
  width: 90%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: baseline;
  column-gap: 7px; */
  width: 100%;
  margin-top: 2em;
}
.meta-container > div,
.theme-container,
.layout-container {
  margin-bottom: 1em;
  font-weight: 300;
  font-size: 0.8em;
  text-transform: uppercase;
  font-weight: bold;
  color: #999;
  font-family: Helvetica, sans-serif;
}

.meta-container input,
.theme-container select,
.layout-container select {
  font-size: 1.3em;
  font-weight: 300;
  padding: 0.5em;
  font-weight: 100;
  font-family: Helvetica, sans-serif;
}

.meta-container a {
  text-align: left;
}

.meta-container .url-display {
  font-family: monospace;
}

.deploy-view {
  display: grid;
}

#publish-button {
  min-width: 150px;
  width: 100%;
  background-color: #333;
  font-weight: bold;
  text-align: center;
}

.publish-process {
  max-width: 100%;
}

.prop-name {
  font-size: 12px;
  color: #fff;
}
input.prop-input[type="text"] {
  font-size: 12px;
  margin: 0;
  width: 100%;
  border: solid 1px #ddd;
  padding: 5px 0.5em;
  background: #666;
  border: 0;
  box-shadow: none;
  color: #fff;
  border-radius: 5px;
  height: auto;
  margin-top: 0.25em;
}

.prop-type {
  font-size: 12px;
  margin-left: 1em;
  text-align: center;
  cursor: pointer;
}

.idyll-root {
  padding: 0 !important;
}

.idyll-code-editor {
  max-width: 800px;
  margin: 0 auto;
}

.idyll-code-editor pre {
  /* border: solid 0.5px #666; */
  background-color: #666666;
  margin: 0 1em;
  padding: 0.66em 0.66em;
}

.editable-text:hover {
  margin-left: -12px;
  padding-left: 10px;
  border-left: solid 2px #ddd;
}

/* Accordion Styles */
.accordion-category:hover,
.component:hover {
  background-color: #e5e5e5;
  cursor: grab;
}

.accordion-category {
  display: flex;
  align-items: center;
  margin: 0;
  border: none;
  cursor: pointer;
  width: 100%;
  text-align: left;
  padding: 1em;
  background-color: transparent;
}

.accordion-category:focus {
  outline: none;
  background-color: #e5e5e5;
  transition: background-color 0.5s;
}

.accordion-panel-container {
  overflow: hidden;
  transition: max-height 0.2s ease-out;
  width: 100%;
  display: flex;
}

.accordion-line {
  border-left: 1px solid black;
  opacity: 11%;
  margin-left: 2em;
  margin-right: 0.3em;
}

.accordion-component {
  margin: 0 -2em;
  width: 100%;
}

.component-container {
  margin: 0 -1em;
}

.component {
  padding: 0.25em 2.5em;
  width: 100%;
}

/* Component Search Bar */
.component-search-bar-container {
  display: flex;
  position: relative;
}

.search-input {
  padding: 0.25em 1.5em;
  border: none;
  width: 100%;
  border-bottom: 1px solid rgb(0, 0, 0, 0.33);
}

.search-input:focus {
  outline: none;
  border-bottom: 1px solid black;
}

.search-icon {
  position: absolute;
  bottom: 13px;
  right: 10px;
  transform: scale(1.5);
}

.search-cancel-button {
  position: absolute;
  bottom: -2px;
  right: 10px;
  border: none;
  cursor: pointer;
  height: 20px;
  width: 20px;
  border-radius: 20px;
  padding: 0;
  transition: background-color 0.1s ease-in;
  line-height: unset;
}

.search-cancel-button svg {
  transform: scale(1.3);
}

.search-cancel-button:hover {
  background-color: #e5e5e5;
}

.search-cancel-button:focus {
  background-color: #e5e5e5;
  outline: none;
}

/* Sidebar */
.sidebar-information {
  /* background: ; */
  font-family: Helvetica, sans-serif;
  background-color: #efefef;
}
.sidebar-tab-container {
  background: #fff;
}

.sidebar-tab-container .sidebar-tab {
  border-bottom: solid 1px #ccc;
  text-align: center;
  width: 100%;
  color: #999;
}

.sidebar-tab-container .sidebar-tab.selected {
  background-color: white;
  text-align: center;
  border-bottom: solid 1px #999;
  color: #333;
}

.sidebar-inner {
  background-color: #efefef;
  font-family: Helvetica, sans-serif;
}

.sidebar-inner select {
  display: block;
  width: 100%;
  height: 35px;
  font-family: Helvetica, sans-serif;
}

.sidebar-inner input {
  display: block;
  width: 100%;
  height: 35px;
  margin: 0;
  border: solid 1px #999;
  padding: 0.5em;
}

input[type='radio'] {
  margin-left: 1em;
  margin-right: 0.25em;
}
